In [28]:
import pandas as pd
import numpy as np
import warnings

In [29]:
warnings.filterwarnings('ignore')

In [2]:
yelp_train_businesses = pd.read_csv("yelp_csv_dataset/yelp_train_businesses.csv")
yelp_train_tips = pd.read_csv("yelp_csv_dataset/yelp_train_tips.csv")
yelp_train_users = pd.read_csv("yelp_csv_dataset/yelp_train_users.csv")
yelp_train_checkins = pd.read_csv("yelp_csv_dataset/yelp_train_checkins.csv")
yelp_train_reviews = pd.read_csv("yelp_csv_dataset/yelp_train_reviews.csv")

In [7]:
yelp_validate_businesses = pd.read_csv("yelp_csv_dataset/yelp_validate_businesses.csv")
yelp_validate_tips = pd.read_csv("yelp_csv_dataset/yelp_validate_tips.csv")
yelp_validate_users = pd.read_csv("yelp_csv_dataset/yelp_validate_users.csv")
yelp_validate_checkins = pd.read_csv("yelp_csv_dataset/yelp_validate_checkins.csv")
yelp_validate_reviews = pd.read_csv("yelp_csv_dataset/yelp_validate_reviews.csv")

/Users/puttu/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
yelp_test_businesses = pd.read_csv("yelp_csv_dataset/yelp_test_businesses.csv")
yelp_test_tips = pd.read_csv("yelp_csv_dataset/yelp_test_tips.csv")
yelp_test_users = pd.read_csv("yelp_csv_dataset/yelp_test_users.csv")
yelp_test_checkins = pd.read_csv("yelp_csv_dataset/yelp_test_checkins.csv")
yelp_test_reviews = pd.read_csv("yelp_csv_dataset/yelp_test_reviews.csv")

In [12]:
# remove name column
yelp_train_users.drop(columns=['name'], axis=1, inplace=True)
yelp_test_users.drop(columns=['name'], axis=1, inplace=True) 
yelp_validate_users.drop(columns=['name'], axis=1, inplace=True)

In [9]:
# remove tips that contain less than 2 characters (provide very negligible sentimental analysis)
yelp_train_tips = yelp_train_tips[(yelp_train_tips['text'].str.len() >= 2)]
yelp_test_tips = yelp_test_tips[(yelp_test_tips['text'].str.len() >= 2)]
yelp_validate_tips = yelp_validate_tips[(yelp_validate_tips['text'].str.len() >= 2)]

In [57]:
yelp_train_tips[(yelp_train_tips['text'].str.len() < 3) & (yelp_train_tips['compliment_count'] > 0)]

,Unnamed: 0,user_id,business_id,text,date,compliment_count
661117,359172,Y-wZ6OfqZfRqNwp1wKiu6w,qBwtph5O2kJL0pemRnr-6A,ew,2015-09-05 23:07:57,1

In [11]:
# remove reviews that contain less than a designated string length (provide very neglibile sentimental analysis)
yelp_train_reviews = yelp_train_reviews[(yelp_train_reviews['text'].str.len() >= 2)]
yelp_test_reviews = yelp_test_reviews[(yelp_test_reviews['text'].str.len() >= 2)]
yelp_validate_reviews = yelp_validate_reviews[(yelp_validate_reviews['text'].str.len() >= 2)]

In [13]:
# remove address column (just need city and state)
yelp_train_businesses.drop(columns=['address'], axis=1, inplace=True)
yelp_test_businesses.drop(columns=['address'], axis=1, inplace=True) 
yelp_validate_businesses.drop(columns=['address'], axis=1, inplace=True)

In [18]:
# CO, MI, VI, VT, HI, MT, NC, SD, TX, WA - these states have less than 10 values worth of data, removing them from data
states_with_less_data = ['CO', 'MI', 'VI', 'VT', 'HI', 'MT', 'NC', 'SD', 'TX', 'WA']
yelp_train_businesses = yelp_train_businesses[~yelp_train_businesses['state'].isin(states_with_less_data)]
yelp_test_businesses = yelp_test_businesses[~yelp_test_businesses['state'].isin(states_with_less_data)]
yelp_validate_businesses = yelp_validate_businesses[~yelp_validate_businesses['state'].isin(states_with_less_data)]

In [22]:
# Remove users that have 0 reviews
yelp_train_users = yelp_train_users[yelp_train_users['review_count'] >= 1]
yelp_test_users = yelp_test_users[yelp_test_users['review_count'] >= 1]
yelp_validate_users = yelp_validate_users[yelp_validate_users['review_count'] >= 1]

In [30]:
# fill elite nan values with 0
yelp_train_users['elite'].fillna(0, inplace=True)
yelp_test_users['elite'].fillna(0, inplace=True) 
yelp_validate_users['elite'].fillna(0, inplace=True)

In [38]:
yelp_train_users

,Unnamed: 0,user_id,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,1737812,M9JLw9h8ll19vtiQuPhrlA,5,2020-10-15 21:18:43,2,0,0,0,None,0,...,0,0,0,0,0,0,0,0,0,0
1,879220,eqObo19FcFYkibgmwQdChw,9,2019-06-23 20:58:13,2,0,0,0,"mxvAHMysY7JXnz4ycfdGGw, 3XRoPBbMi01Hgmz57FRTWA...",0,...,0,0,0,0,0,0,0,0,0,0
2,588190,aHV8PMDudit3utJTrEVPwA,92,2011-05-10 19:45:11,44,4,11,0,None,0,...,0,0,0,0,1,1,0,0,0,0
3,1099996,tVSOnGuWOaufSaG9QaSH5g,4,2017-07-08 16:36:11,2,0,1,0,eum-72q-LLnh0FmfBPaVuQ,0,...,0,0,0,0,0,0,0,0,0,0
4,1293289,L_dBsu2zFmc_dD7U_qz2RA,7,2018-02-27 05:41:48,0,0,0,0,"FhrWmg-YHxTuLNl79MUXkw, gB7buT5SEk9BDtsAEiCBFw",0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490917,491263,fAsH64iGFjvtg-nHMEGWgA,28,2014-12-26 02:36:39,9,0,5,0,"IUeQNUlzNLAevue-uBYJJw, Fsn9qr7_6Fa1V3B4HCEnyg...",2,...,0,0,0,0,0,0,0,0,0,0
1490918,1840200,FYBD1Es41n2oqZ0LVKscjQ,1,2018-09-01 18:19:00,0,0,0,0,"mVlQrYnxDRjTn9Fw_RXJFQ, b5C8cPxf1D9Q0PYkU7ahCw...",0,...,0,0,0,0,0,0,0,0,0,0
1490919,470924,537ROE1N4h3HF7Ew788WDA,2,2015-11-18 17:34:11,0,0,0,0,"mWL4fnvNw9q8mcLb9YL4pg, bxRL5tN1vT3Rvsdf_UcUzQ...",0,...,0,0,0,0,0,0,0,0,0,0
1490920,491755,O5F3c2lw7nT1UDIAHIuwpw,2,2014-11-30 06:15:44,0,0,0,0,"vWW8kXLkRw0BITmQF3DzYw, 4iGpIIShFLqvw7kwzDwJtw...",0,...,0,0,0,0,0,0,0,0,0,0
1490921,128037,F1xZ6BlGlRuzMJOjAVquLw,14,2014-01-24 18:54:47,6,6,1,0,"GfbpaRytjPPiuvQGcFrIAg, 8kkbRDmGQW1dACjqRjdygw...",1,...,0,0,0,0,0,0,1,1,0,0

In [40]:
# Change elite 20,20 to 2020
yelp_train_users['elite'] =  yelp_train_users['elite'].str.replace('20,20', '2020')
yelp_test_users['elite'] = yelp_test_users['elite'].str.replace('20,20', '2020')
yelp_validate_users['elite'] = yelp_validate_users['elite'].str.replace('20,20', '2020')

In [43]:
# convert elite into str
yelp_train_users['elite'] =  yelp_train_users['elite'].astype(str)
yelp_test_users['elite'] = yelp_test_users['elite'].astype(str)
yelp_validate_users['elite'] = yelp_validate_users['elite'].astype(str)

In [45]:
# add elite_count to users (wait to remove elite in case the years have some substance to the reviews?)
yelp_train_users['elite_count'] = yelp_train_users['elite'].apply(lambda years: len(years.split(",")))
yelp_test_users['elite_count'] = yelp_test_users['elite'].apply(lambda years: len(years.split(",")))
yelp_validate_users['elite_count'] = yelp_validate_users['elite'].apply(lambda years: len(years.split(",")))

In [48]:
#if we want to keep, aggregate number of check ins to table, not going to remove dates yet
yelp_train_checkins['checkins_count'] = yelp_train_checkins['date'].apply(lambda years: len(years.split(",")))
yelp_test_checkins['checkins_count'] = yelp_test_checkins['date'].apply(lambda years: len(years.split(",")))
yelp_validate_checkins['checkins_count'] = yelp_validate_checkins['date'].apply(lambda years: len(years.split(",")))

In [58]:
yelp_train_businesses.groupby(['state'])['state'].agg('count')

state
AB     3096
AZ     5801
CA     2972
DE     1345
FL    15800
ID     2711
IL     1243
IN     6691
LA     5688
MO     6695
NJ     4956
NV     4344
PA    19686
TN     7178
Name: state, dtype: int64

In [ ]:
# Write cleaned dfs to new cleaned dataset

In [51]:
yelp_train_businesses.to_csv("yelp_cleaned_csv_dataset/yelp_train_businesse.csv")
yelp_train_tips.to_csv("yelp_cleaned_csv_dataset/yelp_train_tips.csv")
yelp_train_users.to_csv("yelp_cleaned_csv_dataset/yelp_train_users.csv")
yelp_train_checkins.to_csv("yelp_cleaned_csv_dataset/yelp_train_checkins.csv")
yelp_train_reviews.to_csv("yelp_cleaned_csv_dataset/yelp_train_reviews.csv")

In [53]:
yelp_validate_businesses.to_csv("yelp_cleaned_csv_dataset/yelp_validate_businesses.csv")
yelp_validate_tips.to_csv("yelp_cleaned_csv_dataset/yelp_validate_tips.csv")
yelp_validate_users.to_csv("yelp_cleaned_csv_dataset/yelp_validate_users.csv")
yelp_validate_checkins.to_csv("yelp_cleaned_csv_dataset/yelp_validate_checkins.csv")
yelp_validate_reviews.to_csv("yelp_cleaned_csv_dataset/yelp_validate_reviews.csv")

In [54]:
yelp_test_businesses.to_csv("yelp_cleaned_csv_dataset/yelp_test_businesses.csv")
yelp_test_tips.to_csv("yelp_cleaned_csv_dataset/yelp_test_tips.csv")
yelp_test_users.to_csv("yelp_cleaned_csv_dataset/yelp_test_users.csv")
yelp_test_checkins.to_csv("yelp_cleaned_csv_dataset/yelp_test_checkins.csv")
yelp_test_reviews.to_csv("yelp_cleaned_csv_dataset/yelp_test_reviews.csv")